absl-py==0.9.0
alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
astor==0.8.1
astroid
atomicwrites==1.4.0
attrs
audiolazy==0.6
autopep8==1.4.4
Babel==2.8.0
backcall==0.2.0
bcrypt
beautifulsoup4==4.8.2
bitarray==1.4.0
bleach==3.1.5
blinker==1.4
blis==0.4.1
bs4==0.0.1
cachetools
catalogue==1.0.0
certifi==2020.6.20
cffi
chardet==3.0.4
click==7.1.2
cloudpickle
colorama==0.4.3
cryptography
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
dash==1.16.1
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.1
dash-table==4.10.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch
docutils
entrypoints==0.3
fake-useragent==0.1.11
filterpy==1.4.5
flake8==3.7.9
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
gast==0.2.2
geojson==2.5.0
google-auth
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio
gunicorn==20.0.4
h5py==2.10.0
idna
imagesize==1.2.0
importlib-metadata
intervaltree
ipykernel
ipython
ipython-genutils==0.2.0
isort
itsdangerous==1.1.0
jax==0.1.76
jedi==0.15.2
Jinja2==2.11.2
joblib==0.15.1
jsonschema
jupyter-client
jupyter-core==4.6.3
keyring
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.0
Markdown
MarkupSafe
matplotlib==3.1.2
mccabe==0.6.1
mibian==0.1.3
mistune
mkl-fft
mkl-random
murmurhash
nbconvert
nbformat
nltk
numexpr
numpy==1.19.1
numpydoc
oauthlib
opt-einsum
packaging
pandas
pandas-datareader
pandocfilters
paramiko
parse==1.15.0
parso==0.5.2
pexpect
pickleshare
Pillow==7.1.2
plac==1.1.3
plotly==4.10.0
pluggy==0.13.1
preshed==3.0.2
prompt-toolkit
protobuf==3.13.0
psutil
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser
pydocstyle
pyee==7.0.2
pyflakes==2.1.1
PyGeoj==1.0.0
Pygments==2.6.1
PyJWT==1.7.1
pylint
PyNaCl
pyOpenSSL
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.1
pyreadline==2.1
pyrsistent==0.16.0
PySocks
python-dateutil==2.8.1
python-jsonrpc-server
python-language-server==0.31.10
pytrends==4.7.3
pytz
PyYAML
pyzmq
QDarkStyle
QtAwesome
qtconsole
QtPy
regex==2020.6.8
requests
requests-html==0.10.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.17.0
rsa
scipy
seaborn==0.10.0
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==1.9.5
spacy==2.3.0
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
srsly==1.0.2
tables==3.6.1
termcolor==1.1.0
testpath==0.4.4
thinc==7.4.1
toml
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
typed-ast==1.4.1
ujson==1.35
urllib3
w3lib==1.22.0
wasabi==0.7.0
watchdog
wcwidth
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
XlsxWriter==1.2.8
yahoo-fin==0.8.5
yapf
zipp==3.1.0
